In [18]:
#import packages
import pandas as pd

In [19]:
#load target_list.csv
target = pd.read_csv('target.csv', sep=',', header=0, index_col=0)
#load results.csv
#countries = pd.read_csv('result_unique.csv', sep=',', header=0, index_col=0)

countries = pd.read_csv('niger.csv', sep=',', header=0, index_col=0)

In [20]:
target.index.name = 'continental'
target

Empty DataFrame
Columns: []
Index: [A flight from Niger to Nigeria is a continental flight., A flight from Niger to Norway is an intercontinental flight., A flight from Niger to Pakistan is an intercontinental flight., A flight from Niger to Palau is an intercontinental flight., A flight from Niger to Panama is an intercontinental flight., A flight from Niger to Paraguay is an intercontinental flight., A flight from Niger to Peru is an intercontinental flight., A flight from Niger to Philippines is an intercontinental flight., A flight from Niger to Poland is an intercontinental flight., A flight from Niger to Portugal is an intercontinental flight., A flight from Niger to Qatar is an intercontinental flight., A flight from Niger to Romania is an intercontinental flight., A flight from Niger to Russia is an intercontinental flight., A flight from Niger to Rwanda is a continental flight., A flight from Niger to Samoa is an intercontinental flight., A flight from Niger to San Marino is an intercontinental flight., A flight from Niger to Sao Tome & Principe is a continental flight., A flight from Niger to Saudi Arabia is an intercontinental flight., A flight from Niger to Senegal is a continental flight., A flight from Niger to Seychelles is a continental flight., A flight from Niger to Sierra Leone is a continental flight., A flight from Niger to Singapore is an intercontinental flight., A flight from Niger to Slovakia is an intercontinental flight., A flight from Niger to Slovenia is an intercontinental flight., A flight from Niger to Solomon Islands is an intercontinental flight., A flight from Niger to Somalia is a continental flight., A flight from Niger to South Africa is a continental flight., A flight from Niger to South Sudan is a continental flight., A flight from Niger to Spain is an intercontinental flight., A flight from Niger to Sri Lanka is an intercontinental flight., A flight from Niger to Sudan is a continental flight., A flight from Niger to Suriname is an intercontinental flight., A flight from Niger to Sweden is an intercontinental flight., A flight from Niger to Switzerland is an intercontinental flight., A flight from Niger to Tajikistan is an intercontinental flight., A flight from Niger to Thailand is an intercontinental flight., A flight from Niger to Timor-Leste is an intercontinental flight., A flight from Niger to Togo is a continental flight., A flight from Niger to Tonga is an intercontinental flight., A flight from Niger to Tunisia is an intercontinental flight., A flight from Niger to Turkey is an intercontinental flight., A flight from Niger to Turkmenistan is an intercontinental flight., A flight from Niger to Tuvalu is an intercontinental flight., A flight from Niger to Uganda is a continental flight., A flight from Niger to Ukraine is an intercontinental flight., A flight from Niger to United Kingdom is an intercontinental flight., A flight from Niger to Tanzania is a continental flight., A flight from Niger to United States of America is an intercontinental flight., A flight from Niger to Uruguay is an intercontinental flight., A flight from Niger to Uzbekistan is an intercontinental flight., A flight from Niger to Vanuatu is an intercontinental flight., A flight from Niger to Venezuela is an intercontinental flight., A flight from Niger to Vietnam is an intercontinental flight., A flight from Niger to Zambia is a continental flight., A flight from Niger to Zimbabwe is a continental flight.]

In [21]:
#get target column from target
target_continental = target.index
target_continental

Index(['A flight from Niger to Nigeria is a continental flight.',
       'A flight from Niger to Norway is an intercontinental flight.',
       'A flight from Niger to Pakistan is an intercontinental flight.',
       'A flight from Niger to Palau is an intercontinental flight.',
       'A flight from Niger to Panama is an intercontinental flight.',
       'A flight from Niger to Paraguay is an intercontinental flight.',
       'A flight from Niger to Peru is an intercontinental flight.',
       'A flight from Niger to Philippines is an intercontinental flight.',
       'A flight from Niger to Poland is an intercontinental flight.',
       'A flight from Niger to Portugal is an intercontinental flight.',
       'A flight from Niger to Qatar is an intercontinental flight.',
       'A flight from Niger to Romania is an intercontinental flight.',
       'A flight from Niger to Russia is an intercontinental flight.',
       'A flight from Niger to Rwanda is a continental flight.',
       'A flight from Niger to Samoa is an intercontinental flight.',
       'A flight from Niger to San Marino is an intercontinental flight.',
       'A flight from Niger to Sao Tome & Principe is a continental flight.',
       'A flight from Niger to Saudi Arabia is an intercontinental flight.',
       'A flight from Niger to Senegal is a continental flight.',
       'A flight from Niger to Seychelles is a continental flight.',
       'A flight from Niger to Sierra Leone is a continental flight.',
       'A flight from Niger to Singapore is an intercontinental flight.',
       'A flight from Niger to Slovakia is an intercontinental flight.',
       'A flight from Niger to Slovenia is an intercontinental flight.',
       'A flight from Niger to Solomon Islands is an intercontinental flight.',
       'A flight from Niger to Somalia is a continental flight.',
       'A flight from Niger to South Africa is a continental flight.',
       'A flight from Niger to South Sudan is a continental flight.',
       'A flight from Niger to Spain is an intercontinental flight.',
       'A flight from Niger to Sri Lanka is an intercontinental flight.',
       'A flight from Niger to Sudan is a continental flight.',
       'A flight from Niger to Suriname is an intercontinental flight.',
       'A flight from Niger to Sweden is an intercontinental flight.',
       'A flight from Niger to Switzerland is an intercontinental flight.',
       'A flight from Niger to Tajikistan is an intercontinental flight.',
       'A flight from Niger to Thailand is an intercontinental flight.',
       'A flight from Niger to Timor-Leste is an intercontinental flight.',
       'A flight from Niger to Togo is a continental flight.',
       'A flight from Niger to Tonga is an intercontinental flight.',
       'A flight from Niger to Tunisia is an intercontinental flight.',
       'A flight from Niger to Turkey is an intercontinental flight.',
       'A flight from Niger to Turkmenistan is an intercontinental flight.',
       'A flight from Niger to Tuvalu is an intercontinental flight.',
       'A flight from Niger to Uganda is a continental flight.',
       'A flight from Niger to Ukraine is an intercontinental flight.',
       'A flight from Niger to United Kingdom is an intercontinental flight.',
       'A flight from Niger to Tanzania is a continental flight.',
       'A flight from Niger to United States of America is an intercontinental flight.',
       'A flight from Niger to Uruguay is an intercontinental flight.',
       'A flight from Niger to Uzbekistan is an intercontinental flight.',
       'A flight from Niger to Vanuatu is an intercontinental flight.',
       'A flight from Niger to Venezuela is an intercontinental flight.',
       'A flight from Niger to Vietnam is an intercontinental flight.',
       'A flight from Niger to Zambia is a continental flight.',
       'A flight from Niger to Zimbabwe is a continental flight.'],
      dtype='object', name='continental')

In [22]:
#add target_continental to countries
countries['continental'] = target_continental
countries
#save countries to csv
countries.to_csv('final_result.csv', sep=',', header=True, index=True)

In [23]:
#get rows with replicate continental
countries_replicate = countries[countries['continental'].duplicated()]
countries_replicate

Empty DataFrame
Columns: [arrival, continental]
Index: []

In [24]:
#save countries_replicate to csv
countries_replicate.to_csv('countries_replicate.csv', sep=',', header=True, index=True)

In [25]:
import pycountry

def convert_to_iso_alpha2(country_name):
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_2
    except LookupError:
        # Handle the case where the country name is not found
        return None

# List of country names
country_names = [
    "austria", "azerbaijan", "bahamas", "bahrain", "bangladesh", "barbados", "belarus", "belgium", "belize",
    "benin", "bhutan", "bolivia", "bosnia-hercegovina", "botswana", "brazil", "brunei darussalam", "bulgaria",
    "burkina faso", "burundi", "cambodia", "cameroon", "canada", "central african republic", "chad", "chile", 
    "china", "colombia", "comoros", "congo", "costa rica", "cote d'ivoire", "croatia", "cuba", "cyprus", 
    "czech republic", "denmark", "djibouti", "dominica", "ecuador", "egypt", "el salvador", "equatorial guinea", 
    "eritrea", "estonia", "ethiopia", "fiji", "finland", "france", "gabon", "gambia", "georgia", "germany", 
    "ghana", "greece", "grenada", "guatemala", "guyana", "haiti", "honduras", "hungary", "iceland", "india", 
    "indonesia", "iran", "iraq", "israel", "italy", "jamaica", "japan", "jordan", "kazakhstan", "kenya", 
    "kiribati", "kuwait", "kyrgyzstan", "laos", "latvia", "lebanon", "lesotho", "liberia", "libya", "liechtenstein",
    "lithuania", "luxembourg", "madagascar", "malawi", "malaysia", "maldives", "mali", "malta", "marshall islands", 
    "mauritania", "mauritius", "mexico", "micronesia", "monaco", "mongolia", "morocco", "mozambique", "myanmar", 
    "namibia", "nauru", "nepal", "netherlands", "new zealand", "nicaragua", "norway", "pakistan", "palau", "panama", 
    "papua-new guinea", "paraguay", "peru", "philippines", "poland", "portugal", "qatar", "korea, dem. p. r.", 
    "moldova", "romania", "russia", "rwanda", "samoa", "san marino", "sao tome & principe", "saudi arabia", "senegal", 
    "seychelles", "sierra leone", "singapore", "slovakia", "slovenia", "solomon islands", "somalia", "south africa", 
    "south sudan", "spain", "sri lanka", "sudan", "suriname", "sweden", "switzerland", "tajikistan", "thailand", 
    "timor-leste", "togo", "tonga", "trinidad and tobago", "tunisia", "turkey", "turkmenistan", "tuvalu", "uganda", 
    "ukraine", "united arab emirates", "united kingdom", "tanzania", "united states of america", "uruguay", "uzbekistan", 
    "vanuatu", "venezuela", "vietnam", "zambia", "zimbabwe"
]

# Convert country names to ISO 3166-1 alpha-2 codes
iso_alpha2_codes = [convert_to_iso_alpha2(country_name) for country_name in country_names]

# Display the results
for country_name, iso_alpha2_code in zip(country_names, iso_alpha2_codes):
    print(f"{country_name}: {iso_alpha2_code}")

#store the data in a dictionary, each country name is a key and the corresponding ISO 3166-1 alpha-2 code is the value
country_name_to_iso_alpha2_code = dict(zip(country_names, iso_alpha2_codes))

#add Trinidad and Tobago: TT and Cote d'Ivoire: CI and Czech Republic: CZ and Bosnia-Hercegovina: BA and Korea, Dem. P. R.: KR and United Arab Emirates.: AE Laos: LA, turkey: TR
#sao tome & principe: ST, niger: NE, Papua-New Guinea: PG, nigeria: NG, guinea-bissau: GW
country_name_to_iso_alpha2_code['Trinidad and Tobago'] = 'TT'
country_name_to_iso_alpha2_code["Cote d'Ivoire"] = 'CI'
country_name_to_iso_alpha2_code['Czech Republic'] = 'CZ'
country_name_to_iso_alpha2_code['bosnia-hercegovina'] = 'BA'
country_name_to_iso_alpha2_code['Korea, Dem. P. R.'] = 'KR'
country_name_to_iso_alpha2_code['united arab emirates.'] = 'AE'
country_name_to_iso_alpha2_code['Laos'] = 'LA'
country_name_to_iso_alpha2_code['turkey'] = 'TR'
country_name_to_iso_alpha2_code['sao tome & principe'] = 'ST'
country_name_to_iso_alpha2_code['Papua-New Guinea'] = 'PG'
country_name_to_iso_alpha2_code['niger'] = 'NE'
country_name_to_iso_alpha2_code['guinea'] = 'GN'
country_name_to_iso_alpha2_code['nigeria'] = 'NG'
country_name_to_iso_alpha2_code['guinea-bissau'] = 'GW'

SubdivisionHierarchy(code='BZ-BZ', country_code='BZ', name='Belize', parent_code=None, type='District')
SubdivisionHierarchy(code='DJ-DJ', country_code='DJ', name='Djibouti', parent_code=None, type='City')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='BE-WLX', country_code='BE', name='Luxembourg', parent='WAL', parent_code='BE-WAL', type='Province')
SubdivisionHierarchy(code='LU-LU', country_code='LU', name='Luxembourg', parent_code=None, type='Canton')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
austria: AT
azerbaijan: AZ
bahamas: BS
bahrain: BH
bangladesh: BD
barbados: BB
belarus: BY
belgium: BE
belize: BZ
benin: BJ
bhutan: BT
bolivia: BO
bosnia-hercegovina: None
botswana: BW
brazil: BR
brunei darussalam: BN
bulgaria: BG
burkina faso: BF
burundi: BI
cambodia: KH
cameroon: CM
canada: CA
central african republic: CF
chad: TD
chile: CL
china: CN
colombia: CO
comoros: KM
congo: CG
costa rica: CR
cote d'ivoire: CI
croatia: HR
cuba: CU
cyprus: CY
czech republic: CZ
denmark: DK
djibouti: DJ
dominica: DM
ecuador: EC
egypt: EG
el salvador: SV
equatorial guinea: GQ
eritrea: ER
estonia: EE
ethiopia: ET
fiji: FJ
finland: FI
france: FR
gabon: GA
gambia: GM
georgia: GE
germany: DE
ghana: GH
greece: GR
grenada: GD
guatemala: GT
guyana: GY
haiti: HT
honduras: HN
hungary: HU
iceland: IS
india: IN
indonesia: ID
iran: IR
iraq: IQ
israel: IL
italy: IT
jamaica: JM
japan: JP
jordan: JO
kazakhstan: KZ
kenya: KE
kiribati: KI
kuwait: KW
kyrgyzstan: KG
laos: LA
latvia: LV
lebanon: LB
lesotho: LS
liberia: LR
libya: LY
liechtenstein: LI
lithuania: LT
luxembourg: LU
madagascar: MG
malawi: MW
malaysia: MY
maldives: MV
mali: ML
malta: MT
marshall islands: MH
mauritania: MR
mauritius: MU
mexico: MX
micronesia: FM
monaco: MC
mongolia: MN
morocco: MA
mozambique: MZ
myanmar: MM
namibia: NA
nauru: NR
nepal: NP
netherlands: NL
new zealand: NZ
nicaragua: NI
norway: NO
pakistan: PK
palau: PW
panama: PA
papua-new guinea: None
paraguay: PY
peru: PE
philippines: PH
poland: PL
portugal: PT
qatar: QA
korea, dem. p. r.: None
moldova: MD
romania: RO
russia: RU
rwanda: RW
samoa: WS
san marino: SM
sao tome & principe: None
saudi arabia: SA
senegal: SN
seychelles: SC
sierra leone: SL
singapore: SG
slovakia: SK
slovenia: SI
solomon islands: SB
somalia: SO
south africa: ZA
south sudan: SS
spain: ES
sri lanka: LK
sudan: SD
suriname: SR
sweden: SE
switzerland: CH
tajikistan: TJ
thailand: TH
timor-leste: TL
togo: TG
tonga: TO
trinidad and tobago: TT
tunisia: TN
turkey: None
turkmenistan: TM
tuvalu: TV
uganda: UG
ukraine: UA
united arab emirates: AE
united kingdom: GB
tanzania: TZ
united states of america: US
uruguay: UY
uzbekistan: UZ
vanuatu: VU
venezuela: VE
vietnam: VN
zambia: ZM
zimbabwe: ZW

In [26]:
#lowercase all the dictionary keys
country_name_to_iso_alpha2_code = {country_name.lower(): iso_alpha2_code for country_name, iso_alpha2_code in country_name_to_iso_alpha2_code.items()}

In [27]:
countries = countries.reset_index(drop=False)
countries
#save countries to csv
countries.to_csv('final_result_preprocess.csv', sep=',', header=True, index=True)

In [28]:
import re
def replace_continent(cell_value):
    if re.search(r'\bcontinental\b', cell_value, flags=re.IGNORECASE):
        return 1
    else:
        return cell_value

In [29]:
#lowercase all country names
countries['departure'] = countries['departure'].str.lower()
countries['arrival'] = countries['arrival'].str.lower()
#replace departure country name and arrival country name with ISO 3166-1 alpha-2 code
#countries['departure'] = countries['departure'].replace(country_name_to_iso_alpha2_code)
countries['arrival'] = countries['arrival'].replace(country_name_to_iso_alpha2_code)
countries['departure'] = countries['departure'].replace(country_name_to_iso_alpha2_code)
#if any rows from continental column contain continental, replace the whole cell to 1
countries['continental'] = countries['continental'].apply(replace_continent)
#keep rows with continental = 1
countries = countries[countries['continental'] == 1]
countries

   departure arrival continental
0         NE      NG           1
13        NE      RW           1
16        NE      ST           1
18        NE      SN           1
19        NE      SC           1
20        NE      SL           1
25        NE      SO           1
26        NE      ZA           1
27        NE      SS           1
30        NE      SD           1
37        NE      TG           1
43        NE      UG           1
46        NE      TZ           1
53        NE      ZM           1
54        NE      ZW           1

In [30]:
#save countries to csv
countries.to_csv('niger_result.csv', sep=',', header=True, index=True)
countries

   departure arrival continental
0         NE      NG           1
13        NE      RW           1
16        NE      ST           1
18        NE      SN           1
19        NE      SC           1
20        NE      SL           1
25        NE      SO           1
26        NE      ZA           1
27        NE      SS           1
30        NE      SD           1
37        NE      TG           1
43        NE      UG           1
46        NE      TZ           1
53        NE      ZM           1
54        NE      ZW           1

In [32]:
#read nigeria_result.csv, guinea_result.csv, final_resultwithout.csv
nigeria = pd.read_csv('niger_result.csv', sep=',', header=0, index_col=0)
guinea = pd.read_csv('guinea_result.csv', sep=',', header=0, index_col=0)
final = pd.read_csv('final_resultwithout.csv', sep=',', header=0, index_col=0)

In [35]:
#comebine nigeria, guinea, final
result = pd.concat([nigeria, guinea, final], axis=0)
result
#save result to csv
result.to_csv('result_final_all.csv', sep=',', header=True, index=True)